.Container {
  height: 100%;
  padding: 0 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.Fluid {
  padding: 0 !important;
  margin: 0 !important;
  max-width: revert;
}

.Row {
  flex-direction: row;
}

.Column {
  flex-direction: column;
}
