.Container {
  height: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.Fluid {
  padding: 0 !important;
  margin: 0 !important;
  max-width: revert;
}

.JustifyCenter {
  justify-content: center;
}

.JustifyStart {
  justify-content: flex-start;
}

.JustifyEnd {
  justify-content: flex-end;
}

.AlignCenter {
  align-items: center;
}

.AlignStart {
  align-items: flex-start;
}

.AlignEnd {
  align-items: flex-end;
}

.Row {
  flex-direction: row;
}

.Column {
  flex-direction: column;
}
